<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10206228246-qfpkj4uinoq85a2h6hc3uvuoikr4eo3a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10206228246-qfpkj4uinoq85a2h6hc3uvuoikr4eo3a</string>
	<key>API_KEY</key>
	<string>AIzaSyCbfUkpwCiBpRcmGKfV73HJOP5JjO7Szrw</string>
	<key>GCM_SENDER_ID</key>
	<string>10206228246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rit.ML</string>
	<key>PROJECT_ID</key>
	<string>ml-app-9dbd1</string>
	<key>STORAGE_BUCKET</key>
	<string>ml-app-9dbd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10206228246:ios:6aaf65a6f897dbfde72a37</string>
</dict>
</plist>